#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 80px;
    height: 80px;
}

#loginButton {
    margin-top: 1rem;
}

.profile-container {
    text-align: left;
    width: fit-content;
    margin: auto;
}

.setup-container {
    padding-top: 1rem;
}

.invisible {
    visibility: hidden;
}

vscode-progress-ring {
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}

vscode-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#setup-container label, vscode-dropdown, vscode-button, svg {
    display: inline-block;
    vertical-align: middle;
}

#add-profile-actions-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
    width: fit-content;
    margin: auto;
}

#cancelAddProfile {
    background: none;
}